{% extends 'base.html' %}

{% block title_head %}
<title>Crear estudiante</title>
{% endblock title_head %}

{% block h1_header %}
Crear estudiante
{% endblock h1_header %}

{% block contenido %}

{% if mensaje %}
  <div class="alert alert-success">
    {{ mensaje }}
  </div>
{% endif %}

{% comment %} <form action= {% url 'inicio:crear_estudiante' %} method="post"> {% endcomment %}
<form action="{% url 'inicio:crear_estudiante' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <table>
            {{formulario}}
            {{formulario.media}}
    </table>
    <button>Crear</button>
</form>

{% endblock contenido %}