asgiref==3.7.2
distlib==0.3.7
Django==4.2.2
django-ckeditor==6.6.1
django-js-asset==2.1.0
django-markdownx==4.0.2
django-tinymce4-lite==1.8.0
djangorestframework==3.14.0
filelock==3.12.2
jsmin==3.0.1
Markdown==3.4.3
markdown-it-py==3.0.0
mdurl==0.1.2
Pillow==10.0.0
platformdirs==3.10.0
Pygments==2.15.1
pytz==2023.3
rich==13.4.2
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
virtualenv==20.24.2
