asgiref==3.7.2
clientes @ file:///C:/Users/Melidoni/Desktop/py/Clientes_Compras/dist/clientes-1.0.tar.gz#sha256=20f0301b7e815f81b597bacb53beaf052207af9b8421b44eada013d385cb90ec
Django==4.2.2
django-ckeditor==6.6.1
django-js-asset==2.1.0
Pillow==10.0.0
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
